<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Head" />
</head>
<body class="main-body">
    <header>
        <nav>
            <partial name="_Navigation"/>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <div>
            &copy; 2023 - Winterhold Library 
        </div>
    </footer>
    
</body>
</html>
