<div>
    <a class="menu" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    <a class="menu" asp-area="" asp-controller="Author" asp-action="Index">Author</a>
    <a class="menu" asp-area="" asp-controller="Category" asp-action="Index">Book</a>
    <a class="menu" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
    <a class="menu" asp-area="" asp-controller="Loan" asp-action="Index">Loan</a>
</div>
